[Unit]
Description=Device detection by bash

[Service]
Type=oneshot
ExecStart=/home/root/ws/sensors-bash.sh
RemainAfterExit=yes
RestartSec=5
Restart=on-failure