[Unit]
Description=Core temperature logging

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u /home/root/ws/devicestats.py

[Install]
WantedBy=multi-user.target