[Unit]
Description=Led status script
After=bash-devdetect.service
Requires=bash-devdetect.service

[Service]
ExecStart=/home/root/ws/status-leds.sh

[Install]
WantedBy=multi-user.target
